.navbar {
  background-color:#cccccc !important;
  color: blue !important;
  border-radius: 0px !important;
}

.main{
  padding: 3px !important;
  margin: 0px;
}

.container {
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 100px;
}

.image {
  padding: 0px 2px !important;
  margin-right: 15px;
  transition: all .2s ease-in-out;
}
.image:hover{
  transform: scale(1.1);
}

.events {
  padding: 7px 3px !important;
  margin-bottom: 3px;
  border-bottom:solid 1px;
}
.events:hover{
  box-shadow: 1px 1px 10px 1px #888888;
  cursor:pointer;
  border-bottom:solid 0px;
}

.event {
  padding: 0px 0px !important;
}

.news {
  padding: 3px 3px !important;
  margin-bottom: 7px;
}
.news:hover{
  box-shadow: 1px 1px 10px 1px #888888;
  cursor:pointer;
}

.new {
  padding: 0px 2px !important;
}

.newdate {
  padding: 0px 2px !important;
}


.profile{
  background-color: #6c2a38;
  padding:10px 10px;
  color: white;
}

.md-headline{
  font-weight: 700 !important;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
